*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
}

body{
background:#0f172a;
color:white;
}

.sidebar{
position:fixed;
left:0;
top:0;
width:250px;
height:100vh;
background:#111827;
padding:25px;
}

.sidebar h2{
margin-bottom:30px;
}

.sidebar nav{
display:flex;
flex-direction:column;
gap:15px;
}

.sidebar a{
color:white;
text-decoration:none;
padding:12px;
border-radius:10px;
transition:.3s;
}

.sidebar a:hover{
background:#2563eb;
}

.main{
margin-left:250px;
padding:30px;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:40px;
}

.new-btn{
background:#2563eb;
color:white;
border:none;
padding:12px 25px;
border-radius:10px;
cursor:pointer;
font-size:16px;
}

.new-btn:hover{
background:#1d4ed8;
}
